@import "tailwindcss";

:root {
  --background: #0A0A0A;
  --foreground: #F5F2EA;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-inter);
}

h1,
h2,
h3,
h4 {
  font-family: var(--font-space);
}